<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.n1belungen.mapper.DepartmentMapper">

    <select id="getDepartment" resultType="com.n1belungen.entity.Department">
        select *
        from springbootbuild.department;
    </select>

    <select id="queryDepartmentById" resultType="com.n1belungen.entity.Department">
        select *
        from springbootbuild.department where id = #{id};
    </select>


</mapper>